.App {
  margin-left: 30px;
}

.square {
  height: 75px;
  width: 75px;
  border: 1px solid black;
  text-align: center;
  font-size: 50px;
}

.square:hover {
  background-color: #EBE2E0;
}

.row {
  display: flex;
}

.currentPlayer {
  margin-top: 10px;
  font-size: 30px;
}